<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="https://randomuser.me/api/portraits/men/22.jpg" alt="portrait" class="portrait">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, quo!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis incidunt porro, itaque alias adipisci quos sunt quasi omnis cumque voluptas magni laborum, sint dolor impedit quidem. Consectetur unde numquam nam dolore illum similique? Asperiores minus cupiditate ullam inventore, quaerat non!</p>
        {{>footer}}
    </div>
</body>
</html>